#banner {
    background: $main-gradient;
    color: $light-color;
    height: $banner-section-height;

    #lang-selector {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;

        margin: 1em;

        button {
            background: none;
            border: none;
            color: $dark-color;

            cursor: pointer;

            i {
                padding: 5px;
            }

            &:focus + #lang-list {
                opacity: 1;
                pointer-events: all;
                transform: translateY(0px);
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            position: absolute;
            right: 0;
            width: 150%;

            margin-top: 1em;

            background-color: $light-color;
            color: $dark-color;
            border-radius: 5px;
            opacity: 0;

            transform: translateY(-10px);
            transition: all 0.4s ease;

            li {
                margin: 10px;
                list-style-type: none;

                cursor: pointer;

                a {
                    text-decoration: none;
                }
            }
        }
    }

    #banner-text {
        position: absolute;
        width: 100%;
        height: $banner-section-height;

        @include center;

        animation: logoFadeIn 1s;

        #piTime-text {
            font-family: Typo Grotesk Rounded;
            font-size: 200px;
            font-weight: normal;
        }

        hr {
            border: 0;
            height: 1px;
            margin: 10px 0 10px;
            background: rgba(255, 255, 255, 0.5);
        }

        #design-btn {
            top: $regular-text-size * 1.5;
        }
    }

    #hourglass-logo {
        font-size: 110vh;

        position: absolute;
        left: -25vh;
        top: -7.5vh;

        animation: hourglassFadeIn 5s;
        opacity: 0.3;
        display: inline;
    }
}

@keyframes hourglassFadeIn {
    0% {
        opacity: 0;
        transform: translate(-75px, 200px);
    }

    50% {
        opacity: 0;
        transform: translate(-75px, 200px);
    }

    100% {
        opacity: 0.3;
        transform: translate(0px, 0px);
    }
}

@keyframes logoFadeIn {
    from {
        opacity: 0;
        transform: rotateX(90deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0deg);
    }
}
