$main-color: #54ed25;
$accent-color: #eaf005;

$main-gradient: linear-gradient(25deg, $main-color 0%, $accent-color 100%);

$light-color: #ffffff;
$dark-color: #303030;

$light-transperent-bg-color: rgba(0, 0, 0, 0.4);
$heavy-transperent-bg-color: rgba(0, 0, 0, 0.7);

$banner-section-height: 100vh;
$about-section-height: 75vh;
$design-section-height: 100vh;

$regular-text-size: 20px;

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section {
    @include center;
    width: 100%;
    position: relative;
    background-size: cover;
    overflow: hidden;

    /* Shadown effect between sections */
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0) 90%,
        rgba(0, 0, 0, 0.1) 100%
    );
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body,
button {
    /* Default font */
    font-family: "Rubik", sans-serif;
    font-size: $regular-text-size;
}

// - - - Buttons - - - //

.light-btn {
    color: $light-color;
    background: transparent;

    border: 1.5px solid $light-color;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    border-radius: 0.5em;

    z-index: 2;
    padding: 0.8em;
    box-shadow: none;

    position: relative;
    top: $regular-text-size;

    &:hover {
        background: rgba(255, 255, 255, 0.1);
        box-shadow: inset 5px 5px 5px 0px rgba(0, 0, 0, 0.1);
    }

    &:disabled {
        opacity: 0.5;
    }
}

.dark-btn {
    @extend .light-btn;

    color: $dark-color;
    border-color: $dark-color;
}

.color-btn {
    @extend .light-btn;

    color: $dark-color;
    background: $main-gradient;

    font-weight: bold;
    border: none;

    &:hover {
        background: $main-gradient;
        box-shadow: inset 5px 5px 15px 0px rgba(0, 0, 0, 0.35);
    }
}

// - - - Scrollbar - - - //

body {
    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-track {
        background: rgba($light-color, 0.2);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgba($light-color, 0.4);

        &:hover {
            background: rgba($light-color, 0.5);
        }
    }
}
