@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@font-face {
    font-family: Typo Grotesk Rounded;
    src: url(TypoGroteskRounded.otf);
}

@import "general";

@import "banner_section";
@import "about_section";
@import "design_section";

* {
    /* Reset margin and padding */
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    /* Default font */
    font-family: "Rubik", sans-serif;
}

.section {
    @include center;
    width: 100%;

    /* Shadown effect between sections */
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0) 90%,
        rgba(0, 0, 0, 0.1) 100%
    );
}

.light-btn {
    color: $light-color;
    background: transparent;

    border: 1.5px solid $light-color;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    border-radius: 0.5em;

    z-index: 2;
    padding: 0.8em;
    box-shadow: none;
    position: absolute;
}

.light-btn:hover {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: inset 5px 5px 5px 0px rgba(0, 0, 0, 0.1);
}
