@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

@font-face {
    font-family: TypoGroteskRounded;
    src: url(/style/TypoGroteskRounded.otf);
}

:root {
    --dark-color: #303030;
    --bright-color: #ffffff;

    --main-color: #54ed25;
    --accent-color: #eaf005;

    --main-gradient: linear-gradient(
        25deg,
        var(--main-color) 0%,
        var(--accent-color) 100%
    );

    --banner-height: 100vh;
    --about-height: 75vh;
    --design-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Varela Round", sans-serif;
}

.section {
    width: 100%;
    height: 100vh;

    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0) 90%,
        rgb(0, 0, 0, 0.1) 100%
    );

    display: flex;
    align-items: center;
    justify-content: center;
}

.light-btn {
    color: var(--bright-color);
    background: rgba(0, 0, 0, 0);

    border: 2px solid var(--bright-color);
    text-decoration: none;
    transition: all 0.3s ease 0s;
    border-radius: 0.5em;

    z-index: 10;
    padding: 0.8em;
    box-shadow: none;
    position: absolute;
}

.light-btn:hover {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: inset 5px 5px 5px 0px rgba(0, 0, 0, 0.1);
}

#design-btn {
    margin: 1em 0 0;
}

#banner {
    position: relative;
    background: var(--main-gradient);
    width: 100%;
    height: var(--banner-height);
    background-size: cover;
    overflow: hidden;
}

#banner #lang-selector {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;

    margin: 1em;
    color: var(--light-color);
}

#banner #lang {
    margin: 0.5em;
    appearance: none;
}

#banner #hourglass-logo {
    font-size: 110vh;
    color: var(--bright-color);

    position: absolute;
    left: -25vh;
    top: -7.5vh;

    animation: hourglassFadeIn 5s;
    opacity: 0.3;
    display: inline;
}

#banner #pitime-logo {
    width: 30em;
}

#banner hr {
    border: 0;
    height: 1px;
    margin: 10px 0 10px;
    background: rgba(255, 255, 255, 0.5);
}

#banner #banner-text {
    position: absolute;
    width: 100%;
    height: var(--banner-height);

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--bright-color);
    font-size: 20px;

    animation: logoFadeIn 1s;
}

#about {
    background-color: var(--bright-color);
    height: var(--about-height);
    color: var(--dark-color);
}

#design {
    background-color: var(--dark-color);
    color: var(--bright-color);
    height: var(--design-height);
}

@keyframes hourglassFadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
        transform: translate(-75px, 200px);
    }

    100% {
        opacity: 0.3;
        transform: translate(0px, 0px);
    }
}

@keyframes logoFadeIn {
    from {
        opacity: 0;
        transform: rotateX(90deg);
    }

    to {
        opacity: 100;
        transform: rotateX(0deg);
    }
}
