:root {
    --color: rgb(89,237,36,1);
    --bg-color: rgb(235, 235, 235);
}


/* ==========================
   | Default popup          |
   ========================== */

.popup {
    
    font-family: 'Quicksand', sans-serif;
    padding: 10px;
    margin: 20px;

    background: var(--bg-color);
    border-left: 5px solid var(--color);

    box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.3);
    border-radius: 5px;

}


/* ==========================
   | Different style popups |
   ========================== */

#no-css {
    --color: rgb(252, 170, 19);
    --bg-color: rgb(245, 243, 156);
}

#dev-tool {
    --color: rgb(8, 190, 236);
}