
/* Popups are elements that normally do not appear to the end user.
 * Popups can be warnings, tools for developers, etc.
 * The css code that is given to the user to put in his streaming
 * software includes the line '.popup {display: none;}' to hide
 * all possible popups.
 */

:root {

    /* Color of the line that appears on the side of the popup
     * Usually, warning popups will be red or orange, while
     * popups for developers will be blue for example. */
    --color: rgb(89,237,36,1);
    
    /* The deafult background color of each popup. */
    --bg-color: rgb(235, 235, 235);
}


/* ========================== *
 * | Default popup          | *
 * ========================== */

.popup {
    
    padding: 10px;
    margin: 25px;

    background: var(--bg-color);
    border-left: 5px solid var(--color);

    box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.3);
    border-radius: 5px;

}


/* ========================== *
 * | Different style popups | *
 * ========================== */

#no-css {
    --color: rgb(252, 170, 19);
    --bg-color: rgb(245, 243, 156);
}

#dev-tool {
    --color: rgb(8, 190, 236);
}