body {
    background-color: rgb(236, 245, 252);
    font-family: 'Varela Round', sans-serif;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

h1 {
    font-size: 22px;
    font-weight: bold;
    margin: 0px;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 0px;
}