#design {
    .panel {
        /* Design of every panel in the settings! */
        border-radius: 25px;
        padding: 35px;
        background-color: $light-transperent-bg-color;

        text-align: center;
    }
}
